@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1200px) {
    body, html {
        background-image: linear-gradient(to bottom, #F7B902, #DE217D, #004068);
    }

    section#login {
        width: 85vw;
        height: 50vh;
    }
    
    section#login > div#imagem, div#formulario {
        display: flex;
    }
}


@media screen and (min-width: 1200px) {
    body, html {
        background-image: linear-gradient(to bottom, #F7B902, #DE217D, #004068);
    }
}